DATABASE_URL=postgresql://postgres:your_password@localhost:5432/construction_portal
JWT_SECRET=some_secret_text
PORT=4000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
